[submodule "libcuckoo"]
	path = libcuckoo
	url = https://github.com/Efficient/libcuckoo
    branch = master
[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
    branch = master
[submodule "clhash"]
	path = clhash
	url = https://github.com/lemire/clhash
    branch = master
[submodule "kraken"]
	path = kraken
	url = https://github.com/derrickwood/kraken
    branch = master
[submodule "kspp"]
	path = kspp
	url = https://github.com/dnbaker/kspp
    branch = master
[submodule "linear"]
	path = linear
	url = https://github.com/dnbaker/linear
    branch = master
[submodule "libpopcnt"]
	path = libpopcnt
	url = https://github.com/kimwalisch/libpopcnt
    branch = master
[submodule "circularqueue"]
	path = circularqueue
	url = https://github.com/dnbaker/circularqueue
    branch = master
[submodule "pdqsort"]
	path = pdqsort
	url = https://github.com/orlp/pdqsort
    branch = master
[submodule "lazy"]
	path = lazy
	url = https://github.com/dnbaker/lazy
    branch = master
[submodule "hll"]
	path = hll
	url = https://github.com/dnbaker/sketch
    branch = master
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "flat_hash_map"]
	path = flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "rollinghashcpp"]
	path = rollinghashcpp
	url = https://github.com/dnbaker/rollinghashcpp
[submodule "ntHash"]
	path = ntHash
	url = https://github.com/bcgsc/ntHash
