[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
[submodule "clhash"]
	path = clhash
	url = https://github.com/lemire/clhash
[submodule "hll"]
	path = hll
	url = https://github.com/dnbaker/sketch
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "flat_hash_map"]
	path = flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "ntHash"]
	path = ntHash
	url = https://github.com/bcgsc/ntHash
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
