[submodule "libcuckoo"]
	path = libcuckoo
	url = https://github.com/Efficient/libcuckoo
[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
[submodule "hll"]
	path = hll
	url = https://github.com/dnbh/hll
[submodule "clhash"]
	path = clhash
	url = https://github.com/dnbh/clhash
[submodule "cppitertools"]
	path = cppitertools
	url = https://github.com/ryanhaining/cppitertools
